<h1>Education</h1>
<ul class="list-unstyled">
    <li ng-repeat="item in resume.education">
        <img class="pull-left" width="100px" src="{{item.logo}}" alt=""/>
        <h4><strong>{{item.institution}}</strong></h4>
        <p class="eduText" >{{item.studyType}} in {{item.area}}</p>
        <br class="clearfix"/>
        <hr/>
    </li>
</ul>

<div class="col-xs-6">
    <button ui-sref="experience" class="btn btn-primary pull-right "><i class="glyphicon glyphicon-chevron-left"></i>Experience</button>

</div>
<div class="col-xs-6">
    <button ui-sref="skills" class="btn btn-primary pull-left">Skills<i class="glyphicon glyphicon-chevron-right"></i></button>
</div>