
    <h3>ABOUT ME</h3>
    <img class="img-responsive img-rounded center-block" src="/app/img/martinpic.jpg" alt=""/>
    <p> Here is brief profile. My name is {{resume.bio.firstName}} {{resume.bio.lastName}}, and thank-you so much before-hand for taking a look at my resume!  </p>
    <p>{{resume.bio.summary}}</p>

    <p>Read on to learn more about my professional history and educational background.</p>

    <div>
        <button ui-sref="experience" class="btn btn-primary center-block">Experience<i class="glyphicon glyphicon-chevron-right"></i></button>
    </div>








